# Brazilian State Scrapper

In [1]:
from plugins.selenium import Selenium
from selenium.webdriver.common.by import By
import pandas as pd
import string

## Populating queue

In [ ]:
webdriver = Selenium()
webdriver.start()
webdriver.go_to_url("https://inanyplace.blogspot.com/2017/01/lista-de-estados-brasileiros-sigla-estado-capital-e-regiao.html")

driver = webdriver.get_driver()

### Extract table values

In [6]:
table   = driver.find_element(By.XPATH, '//table[@bgcolor="#ffffff"]')
columns = [header.text for header in table.find_elements(By.XPATH, '//th/span')]
rows    = [row.find_elements(By.XPATH, './td/span') for row in table.find_elements(By.XPATH, '//tbody/tr')]
values  = [[cell.text for cell in row] for row in rows if row]

df = pd.DataFrame(values, columns=columns)[['Estado', 'Capital', 'Região']]
df.columns = ['estado', 'capital', 'regiao']
df = df.map(lambda x: x.title() if isinstance(x, str) else x)
df.head(3)

     estado      capital regiao
0      Acre   Rio Branco  Norte
1      Pará        Belém  Norte
2  Rondônia  Porto Velho  Norte

### Extract file values

In [9]:
df_capital_populacao = pd.read_excel("../input/PopulaçãoxCapital.xlsx")
df_capital_populacao.drop_duplicates(inplace=True)
df_capital_populacao[['capital', 'populacao']] = df_capital_populacao['Capital/populacao'].str.split(':', expand=True)
df_capital_populacao.drop(columns=['Capital/populacao'], inplace=True)
df_capital_populacao['populacao'] = df_capital_populacao['populacao'].str.replace(f"[{string.punctuation}]", "", regex=True).astype(int)
df_capital_populacao.head(3)

          capital  populacao
0         Aracajú     628849
1           Belém    1398531
2  Belo Horizonte    2416339

### Join informations

In [10]:
df_inner = pd.merge(df, df_capital_populacao, on='capital', how='inner')
df_inner.head(3)

     estado      capital regiao  populacao
0      Acre   Rio Branco  Norte     387852
1      Pará        Belém  Norte    1398531
2  Rondônia  Porto Velho  Norte     514873

In [4]:
from data_access.sqlite_estados import SQLiteEstados
import os

db_path = os.path.join(".", "data_source", "estados_brasil.db")
with SQLiteEstados(db_path) as table_estados:
    df = table_estados.read_all()
    
df

                 estado         capital        regiao  populacao
0                  Acre      Rio Branco         Norte     387852
1                  Pará           Belém         Norte    1398531
2              Rondônia     Porto Velho         Norte     514873
3               Roraima       Boa Vista         Norte     470169
4             Tocantins          Palmas         Norte     323625
5             Tocantins          Palmas         Norte     323625
6              Maranhão        São Luiz      Nordeste    1088057
7               Paraíba     João Pessoa      Nordeste     888679
8            Pernambuco          Recife      Nordeste    1587707
9                 Piauí        Terezina      Nordeste     902644
10  Rio Grande Do Norte           Natal      Nordeste     785368
11              Sergipe         Aracajú      Nordeste     628849
12                Goiás         Goiânia  Centro-Oeste    1494599
13   Mato Grosso Do Sul    Campo Grande  Centro-Oeste     954537
14          Mato Grosso          Cuiabá  Centro-Oeste     682932
15       Espírito Santo         Vitória       Sudeste     342800
16         Minas Gerais  Belo Horizonte       Sudeste    2416339
17       Rio De Janeiro  Rio De Janeiro       Sudeste    6729894
18            São Paulo       São Paulo       Sudeste   11895578
19    Rio Grande Do Sul    Porto Alegre           Sul       2391
20       Santa Catarina   Florianópolis           Sul     576361
21             Amazonas          Manaus         Norte    2279686
22                Amapá          Macapá         Norte     487200
23              Alagoas          Maceió      Nordeste     994464
24                Bahia        Salvador      Nordeste    2568928
25                Ceará       Fortaleza      Nordeste    2574412
26               Paraná        Curitiba           Sul    1829225